<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <h1>
                Welcome <%= dname %>
            </h1>
            <ul>
                <!-- <% meds.forEach(function(medicine){ %>
                    <li>
                        <%=medicine.mname medicine.qty medicine.DoI medicine.dname %>
                    </li>
                    <% }) %> -->

            </ul>
            <h1>Thank You</h1>
    </body>

    </html>